.idea/
*.iml
*.ipr
*.iws
.buildpath
target
native

# Mac
.DS_Store

# Other
src/test/resources/application.conf
project/typesafe.properties
project/project/
project/.sbtserver.lock
project/sbt-ui.sbt
.sbtserver